<% layout('/layouts/boilerplate') -%>

<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name=Listing[title] type="text" placeholder="Enter title" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name=Listing[description] type="text" cols="30" rows="10" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please provide Description.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Uploat Image</label>
                    <input name=Listing[image] type="file" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="price" class="form-label">Price</label>
                        <input name=Listing[price] type="text" placeholder="0" class="form-control" required>
                        <div class="invalid-feedback">
                            Enter valid Price.
                        </div>
                    </div>
                    <div class="dropdown mb-3 col-8">
                        <label for="category" class="form-label">Category</label>
                        <button class="btn-secondary dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="categoryDropdown">
                            Select a category
                        </button>
                        <ul class="dropdown-menu" id="categoryMenu">
                            <li><a class="dropdown-item" data-value="Trending" href="#">Trending</a></li>
                            <li><a class="dropdown-item" data-value="Rooms" href="#">Rooms</a></li>
                            <li><a class="dropdown-item" data-value="Historic" href="#">Historic</a></li>
                            <li><a class="dropdown-item" data-value="Mountain" href="#">Mountain</a></li>
                            <li><a class="dropdown-item" data-value="Camping" href="#">Camping</a></li>
                            <li><a class="dropdown-item" data-value="Beachfront" href="#">Beachfront</a></li>
                            <li><a class="dropdown-item" data-value="Boating" href="#">Boating</a></li>
                            <li><a class="dropdown-item" data-value="Farms" href="#">Farms</a></li>
                        </ul>
                        <div class="invalid-feedback">
                            Please select a category.
                        </div>
                        <input name="Listing[category]" type="hidden" id="selectedCategory" required>
                    </div>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="location" class="form-label">location</label>
                        <input name=Listing[location] type="text" placeholder="gao" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid Location.
                        </div>
                    </div>
                    <div class="mb-3 col-8">
                        <label for="country" class="form-label">Country</label>
                        <input name=Listing[country] type="text" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid Country.
                        </div>
                    </div>
                </div>

                <button class="btn btn-dark btnAdd mt-3 mb-3">Add</button>
            </form>
        </div>
    </div>

    
<script src="/js/categoryMenu.js">//category dropdown</script>
</body>