<% layout('/layouts/boilerPlate') -%>
<div class="row col-8 offset-2">
    <div class="alert alert-danger mt-5" role="alert">
        <h4 class="alert-heading"></h4>
        <p><%=msg%></p>
        <hr>
    </div>
</div>